html { font-size:100%; }

body {
  background: #0884F2;
  background: url("https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105_960_720.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}

@media only screen and (max-width: 900px) {
  body {
  background-image: linear-gradient(to bottom right, #08BDF2, #0D53BF);
  }
}

h1 {
  color: white;
  font-family: Poppins;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 200px) { h1 {font-size:2rem;} }
@media (min-width: 700px) { h1 {font-size:2.5rem;} }
@media (min-width: 1100px) { h1 {font-size:3rem;} }

h2 {
  color: white;
  font-family: Poppins;
  padding-bottom: 2%;
  text-align: center;
}

@media (min-width: 200px) { h2 {font-size:1rem;} }
@media (min-width: 700px) { h2 {font-size:2rem;} }
@media (min-width: 1100px) { h2 {font-size:2rem;} }

h3 {
  color: white;
  font-family: Roboto;
  font-weight: bold;
}

@media (min-width: 200px) { h3 {font-size:1rem;} }
@media (min-width: 700px) { h3 {font-size:1.5rem;} }
@media (min-width: 1100px) { h3 {font-size:2rem;} }


h4 {
  color: white;
  font-family: Roboto;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 200px) { h4 {font-size:1rem;} }
@media (min-width: 700px) { h4 {font-size:1.2rem;} }
@media (min-width: 1100px) { h4 {font-size:1.3rem;} }

h5 {
  color: white;
  font-family: Poppins;
}

@media (min-width: 200px) { h5 {font-size:2.2rem;} }
@media (min-width: 700px) { h5 {font-size:2.5rem;} }
@media (min-width: 1100px) { h5 {font-size:3rem;} }

h6 {
  color: grey;
  text-align: center;
  font-family: Poppins;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 200px) { img {height: 100px;} }
@media (min-width: 700px) { img {height: 300px;} }
@media (min-width: 1100px) { img {height: 250px;} }

@media (min-width: 200px) { img {width: 100px;} }
@media (min-width: 700px) { img {width: 300px;} }
@media (min-width: 1100px) { img {width: 250px;} }


P {
  color: white;
}

@media (min-width: 200px) { p {font-size:1rem;} }
@media (min-width: 700px) { p {font-size:1.5rem;} }
@media (min-width: 1100px) { p {font-size:1.3rem;} }

button {
  font-family: Poppins;
  font-size: 3rem;
  letter-spacing: 2px;
  /* para centrar el boton lo de abajo */
  width: 40%;
  margin-left: 30%;
  margin-right: 30%
}

.paragraph-left {
  margin-left: 5%;
  padding-top: 3%;
}

@media (min-width: 200px) { .paragraph-left {padding-left: 50px;} }
@media (min-width: 700px) { .paragraph-left {padding-left: 150px;} }
@media (min-width: 1100px) { .paragraph-left {padding-left: 200px;} }

@media (min-width: 200px) { .paragraph-left {margin-right: 3%;} }
@media (min-width: 700px) { .paragraph-left {margin-right: 3%;} }
@media (min-width: 1100px) { .paragraph-left {margin-right: 2%;} }

.container-fluid {
padding: 0;
}

/* Main Section */
.main {
  padding-top: 3%;
  padding-bottom: 12%;
}

.title {
  padding-top: 5%;
}

.description {
  padding-top: 3%;
}

  @media (min-width: 200px) { .description {padding-right: 2%;} }
  @media (min-width: 700px) { .description {padding-right:4%;} }
  @media (min-width: 1100px) { .description {padding-right: 4%;} }

  @media (min-width: 200px) { .description {padding-left: 2%;} }
  @media (min-width: 700px) { .description {padding-left: 4%;} }
  @media (min-width: 1100px) { .description {padding-left: 4%;} }

.bar {
  padding-left: 5%;
  padding-top: 3%;
}

/* .facebook {
  color: white;
  position: absolute;
  right: 10%;
  top: 12%;
}

.facebook:hover {
  color: #4167B2;
}

.instagram {
  color: white;
  position: absolute;
  right: 17%;
  top: 12%;
}

.instagram:hover {
  color: rgba(228,64,95,1);
} */

/* Services Sections */

.services {
    background-color: rgb(0, 0, 0, 0.7);
}

.submain {
  padding-bottom: 2%;
}

.line-left {
  border-top: solid;
  color: #403C9A;
  margin-left: 0;
  width: 40%;
}

.hr {
  padding-top: 1%;
  margin-right: 0;
}

.subtitle-left {
  font-weight: bold;
  margin-left: 27%;
}

.last {
  padding-bottom: 5%;
}

/* Question Section */
.question {
  padding-top: 7%;
  padding-bottom: 7%;
}

.title-question {
  font-weight: bold;
  padding-bottom: 1%;
}

.paragraph-question {
  text-align: center;
  padding-bottom: 3%;
}

/* Plans Section */
.plans {
  background-color: rgb(0, 0, 0, 0.7);
  padding-top: 7%;
  padding-bottom: 7%;
  padding-left: 5%;
  padding-right: 5%;
}

.plan-titulo {
  padding-bottom: 3%;
  font-size: 4rem;
}

@media (min-width: 200px) { .plan-titulo {font-size:2rem;} }
@media (min-width: 700px) { .plan-titulo {font-size:3rem;} }
@media (min-width: 1100px) { .plan-titulo {font-size:4rem;} }

.plan-images {
  height: 50px;
  width: 50px;
  margin-bottom: 2%;
}

.card-heading {
  color: black;
  font-size: 2.5rem;
}

.card-paragraph {
  color: black;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: bold;
}

.list-text {
  font-family: Roboto;
}

/* Contact Section */
.contact {
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 4%;
}

.contact-title {
  font-family: Roboto;
  text-align: center;
  padding-bottom: 1.5%;
}

.contact-paragraph {
  font-family: Roboto;
  padding-bottom: 3%;
  text-align: center;

}

body {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #403C9A;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%
}

input[type=submit]:hover {
  background-color: #403C9A;
}

.container {
  border-radius: 5px;
  padding: 20px;
  padding-left: 60px;
}

.icon {
color: white;
margin-top: 75px;
text-align: center;
display: inline-block;
width: 100%;
}

.h4-contact {
  font-family: Poppins;
  padding-top: 4%;
  text-align: center;
}

.p-contact {
font-family: Roboto;
font-size: 1rem;
text-align: center;
}

.contact-data{
  padding-bottom: 5%;
}

/* Footer Section */

.footer {
  background-color: black;
  padding-top: 4%;
}

.footer-hr {
  text-align: center;
  width: 20%;
  height: 2px;
  background-color: white;
  margin-bottom: 4%;
}

.footer-list {
  list-style-type:none;
}

.div-sections {
}

@media (min-width: 200px) { .div-sections {padding-left: 35%;} }
@media (min-width: 700px) { .div-sections {padding-left: 40%;} }
@media (min-width: 1100px) { .div-sections {padding-left: 40%;} }

.div-social {
  text-align: right;
  padding-right: 40%;
}

@media (min-width: 200px) { .div-social {padding-right: 35%;} }
@media (min-width: 700px) { .div-social {padding-right: 40%;} }
@media (min-width: 1100px) { .div-social {padding-right: 40%;} }

@media (min-width: 200px) { .div-social {padding-top: 4%;} }
@media (min-width: 700px) { .div-social {padding-top: 0;} }
@media (min-width: 1100px) { .div-social {padding-top: 0;} }

.footer-title {
  font-family: Poppins;
  font-size: 1.3rem;
  font-weight: normal;
  padding-bottom: 2%;
}

.footer-link {
  font-family: Poppins;
  color: white;
  line-height: 2;
}

.footer-link:hover {
  color: #2EC1CA;
}

.footer-link:link {
  text-decoration: none;
}

.footer-icon {
text-align: center;
padding-right: 30px;
}

.instagram-icon {
  color: white;
}

.instagram-icon:hover {
  color:rgba(228,64,95,1);
}

.instagram-padding {
  padding-bottom: 20px;
}

.facebook-icon {
  color: white;
}

.facebook-icon:hover {
  color: #4167B2;
}

.signature {
  padding-top: 4%;
  padding-bottom: 4%;
}
